In [ ]:
x=input( "enter a word ")
length=len(x)
x=x.lower()
y=x[::-1]
if x==y:
    print("is palindrome")
else:
  print("not palindrome")

enter a word ttet
not palindrome

In [ ]:
x=input( "enter a number ")
x=(int(x))**(1/2)
print(int(x))

enter a number 4
2

In [ ]:
x=input(" enter a word ")
print(x)
length=len(x)
print(length)
y=x[::-1]
print(y)

 enter a word hello
hello
5
olleh

part b task 1

In [ ]:
def triangle():
  print("     *    ")
  print("   *   *   ")
  print("  *      *  ")
  print("*         * ")
  print("************  ")
  return

def rectangle():
  print("************")
  print("*          *")
  print("*          *")
  print("*          *")
  print("*          *")
  print("************")
  return
x=input(" choose a number between 1 or 2 ")
if x=='1':
  triangle()
elif x=='2':
  rectangle()

 choose a number between 1 or 2 2
************
*          *
*          *
*          *
*          *
************

task2

In [ ]:
student={"Name":"Laiba","ID":"6284","Dept":"DS","Subject":"Big data"}
print(student)
#access the items
x=student["ID"]
print(x)
#using get function
x=student.get("Name")
print(x)
#chsnging the values
student.update({"Subject":"Lab of Big data"})
print(student)
print(len(student))

courses=("big data","database","advance stats")
x=("software",)
courses=courses+x
print(courses)
print(len(courses))
#accesing the items
print(courses[1])

{'Name': 'Laiba', 'ID': '6284', 'Dept': 'DS', 'Subject': 'Big data'}
6284
Laiba
{'Name': 'Laiba', 'ID': '6284', 'Dept': 'DS', 'Subject': 'Lab of Big data'}
4
('big data', 'database', 'advance stats', 'software')
4
database

task 3

In [ ]:
x=input(" enter height ")
y=input(" enter radius ")
x=float(x)
y=float(y)
pi=float(3.14)
volume=pi*y**2*x
print(volume)

 enter height 2
 enter radius 3
56.52

task 4

In [ ]:
def cal(num,op1,op2):
  if num=='1':
    print("Adding two number",op1+op2)
  elif num=='2':
    print("Subtracting two numbers",op1-op2)
  elif num=='3':
    print("Multiplying ",op1*op2)
  elif num=='4':
    print("Division ", op1/op2)


  return



x=input("enter a number from 1 to 4 ")
y=input("enter first num ")
z=input("enter second num ")
y=int(y)
z=int(z)
cal(x,y,z)

enter a number from 1 to 44
enter first num8
enter second num 2
Division  4.0

task 5

In [ ]:
x=input( "enter a word ")
length=len(x)
x=x.lower()
y=x[::-1]
if x==y:
    print("is palindrome")
else:
  print("not palindrome")

enter a word ndieShswu
not palindrome

task 6

In [ ]:
def factorial(num):
  if num==0 or num==1:
    return 1
  else:
    return num * factorial(num-1)

x=input("Enter a number ")
x=int(x)
print("Factorial of number is ",factorial(x))

Enter a number 5
Factorial of number is  120

task 7

In [ ]:
x=list((1,2,3))
y=list((2,3,4))
x.sort()
y.sort
if x==y:
  print("lists are same")
else:
  print("lists are different")

lists are different

task 8

In [ ]:
x=set((1,2,3,4,5,6,7))
y=set((2,3,4))
print(x.issuperset(y))

True